li{
  list-style-type: square;
  font-size:large;
}
.commentdiv{
  border: 1px solid black;
  margin-left: 40px;
  margin-top: 40px;
  margin-right: 40px;
  border-radius: 20px;
  padding: 20px;
}
.topnav {
  background-color: #D8BFD8;
  overflow: hidden;
  height: 70px;
    
  }
  
  Style the links inside the navigation bar */
.app {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 26px;
  font-family: Lato,Bold;
  }
  .icons {
    float: right;
    color: #800080;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    font-family: Lato,Bold;
    }
  .active{
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav a.app {
  background-color: #800080;
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: bold;
  font-family: Lato, Bold;
  padding: 25px 16px;
  padding-bottom: 35px;

  }
  h1,h3{
      text-align: center;
      color: black;
  }
  .topnav a.active {
    background-color: #800080;
    color: rgb(255, 255, 255);
    font-family: Lato,Bold;
    padding: 25px 16px;
    font-size: 18px;
  }
  .button1{
    display: inline-block;
    margin-top: 15px;
    background-color: #DDA0DD;
    color: #800080;
    min-height: 40px;
    font-size: 23px;
    padding: 13px;
    border-radius: 10px;
  }
  h2{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight:  bold;
    background-color: #800080;
    color: rgb(255, 255, 255);
    font-family: Lato,Bold;
    padding: 25px;
  }
  .button2{
    
    background-color: #DDA0DD;
    margin-left: 7px;
    color: #800080;
    min-height: 40px;
    font-size: 23px;
    padding: 13px;
    border-radius: 10px;

  }
  .sec{
    text-align: center;
  } 
